<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Backend Ninja - Signin</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!-- Custom styles for this template -->
        <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
        <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <form class="form-signin" th:action="@{/loginCheck}" method="post">
                <!--<input type="text" name="${_csrf.parameterName}" value="${_csrf.token}"></input>-->
                <h2 class="form-signin-heading">Send To MX</h2>
                <h2 class="form-signin-heading">Inicio de sesión</h2>
                <label for="username" class="sr-only">Usuario</label>
                <input type="text" class="form-control" placeholder="Username" name="username" id="username"/>
                <label for="password" class="sr-only">Contraseña</label>
                <input type="password"  class="form-control" placeholder="Password" name="password" id="password"/>
                <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o contraseña incorrectos</div>
                <div th:if="${logout != null}" class="alert alert-info" role="alert">Se ha cerrado la sesión!</div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Entrar</button>
            </form>
            
            <form th:action="{/registrarUsuario}" class="form-horizontal" method="POST">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div>
                    <button class="btn btn-lg btn-primary btn-success btn-block" type="submit">Registrarme</button>
                </div>
            </div>
        </form>
        </div> <!-- /container -->
    </body>
</html>
